*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  justify-self:center;
  align-self: center;
  align-items: end;
  max-width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__list-container {
  padding: auto;
  height: 298px;
  overflow: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  position: relative;
}

.content__details {
  max-width: 399px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  height: 386px;
  width: 711px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
  
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: left;
  min-width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;

}

.search-form__fieldset{
  margin-top: 16px;
}

.search-form__fieldset-title {
  /* font-family: 'Fira Sans Condensed' ; */
  font-size: 18px;
  font-weight: 400;
  /* font-weight: normal; */
}

.title {
  font-family:'Oswald'; /*продолжить*/
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  
  font-family:'Oswald'; /*продолжить*/
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.content__video-card-description {
  padding-top: 6px;
  line-height: 16.2px;
  line-clamp: 3;
  /* font-family: 'Fira Sans Condensed';  */
  font-size: 18px;
  /* font-style: light; */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1.5px;
}

.search-form__textfield {
  width: 225px;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  color:#fff;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed'; 
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;

}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-top: 1px;
}

.search-form__pseudo-checkbox::after {
  content:"";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1; 
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer
}

.search-form__checkbox-list > .search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button {
  width: 100%;
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  padding: 0 3px;
}